<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css">
</head>


<body>

<div class="container" style="max-width: 600px;margin-top: 100px">

    <div class="jumbotron">
        <h2>404</h2>
        <p>[<code th:text="${#httpServletRequest.getAttribute('javax.servlet.error.request_uri')}"></code>]のリソースが存在しません</p>
    </div>

</div>
</body>
</html>