<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>500</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css">
</head>


<body>

<div class="container" style="max-width: 600px;margin-top: 50px">

    <div class="jumbotron">
        <h2>500</h2>
        <p>サーバーエラー 管理者に連絡してください</p>
    </div>

</div>
</body>
</html>