<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book詳細</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">

</head>

<body th:object="${book}">

<div class="container" style="max-width: 700px">

    <h2 class="page-header" style="margin-top: 50px">詳細</h2>

    <div class="well">
        <p>
            <strong>書籍名: </strong><span th:text="*{name}">リーダブルコード</span>
        </p>
        <p>
            <strong>作者: </strong><span th:text="*{author}">Tom</span>
        </p>

        <p>
            <strong>説明: </strong><span th:text="*{description}">プログラマ必ず読むべき</span>
        </p>

        <p th:switch="*{status}">
            <strong>状態: </strong>
            <span th:case="0">未読</span>
            <span th:case="1">読書中</span>
            <span th:case="2">完読</span>
        </p>

    </div>

    <div class="alert alert-success"th:unless="*{status == 0}">
        <strong>ナイス: </strong>あなたは既に行動してるぜ
    </div>

    <div class="alert alert-warning" th:if="*{status == 0}">
        <strong>注意: </strong>まだ行動してないぜ
    </div>

    <a href="javascript:history.go(-1)" class="btn btn-default">戻る</a>


</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/js/jquery-3.3.1.min.js}" src="../static/js/jquery-3.3.1.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
</body>
</html>